@import '../../styles/_inherit.scss';
@mixin button($background:$green) {
    width: $width-button;
    padding: 21px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: $white;
    background-color: $background;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.buttonWrapper {
    flex: 1;
    margin: 1%;
    display: flex;
    justify-content: center;
    width: 90%;
    &.disconnect{
        flex: 1;
        align-items: center;
    }
    button {
        @include button();
    }
    .buttonConnectivity {
        @include button($background: $light-green);
        flex: 3.5;
        height: 55%;
        border-radius: 30px;
        color: $green;
    }
    .buttonClaiming {
        @include button($background: $connected-color);
    }
    .buttonDisconnect {
        border-radius: 50%;
        margin-left: 10px;
        background: $green;
        width: 60px;
        height: 60px;
    }
    
}

