@import '../../styles/variables.scss';

@mixin button($background:$primary-button-color) {
    width: $width-button;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: $font-color-button;
    background-color: $background;
    border: none;
    border-radius: 8px;
}
@mixin hover($background: $primary-button-color, $cursor: auto){
    background-color: $background;
    cursor: $cursor;
}
.buttonWrapper{
    flex: 1;
    margin: 1%;
    display: flex;
    justify-content: center;

    button{
        @include button();
    }

    button:hover {background-color: $button-color-hover}

    .buttonConnectivity{
        @include button($background:$connected-color);
    }

    .buttonConnectivity:hover{
        @include hover($background: $connected-color);
    }

    .buttonClaiming{
        @include button($background:$connected-color);
    }

    .buttonDisconnect{
        border-radius: 40px;
        margin-left: 10px;
        background: $disconnect-button;
        width: $width-button / 2;
    }

    .buttonDisconnect:hover{
        @include hover($background: $disconnect-button, $cursor: pointer);
    } 
}

