.claimForm{
    margin: 20vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.amountClaim{
    text-align: center;
    padding: 10px;
    background: cadetblue;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    margin-bottom: 3.5%;
}
