@import '../../styles/_inherit.scss';
.noty_type__sports-icon {
    top: 13vh;
    background-color:  rgba(218, 170, 48, 0.1);;
    padding: 20px 30px;
    color: #DAAA30;
    font-weight: 600;
    text-align: center;
    border-radius: 10px !important;
}
#noty_layout__top {
    margin: 2% 30% 6% 30% !important;
    width: 30% !important;
}
footer{
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'GraphikRegular';
}

 