@import '../../styles/_inherit.scss';
.noty_type__sports-icon-alert{
   // max-width: 40%;
    background-color: #fbebc2;
    padding: 15px 10px;
    color: #DAAA30;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    border-radius: 10px !important;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center; 
    margin: 10%  auto !important;
    svg{
        margin-right: 2%;
    }
    p{
        margin-right: 7%;
    }
}
@include mobile-semi {
    .noty_type__sports-icon-alert{
        font-size: 12px;
    }
}
@include mobile {
    .noty_type__sports-icon-alert{
        font-size: 12px;
    }
}  
footer{
    position: fixed;
    height: 15px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    color:  #4E4E4E;
    font-family: $graphik-regular;
}

 