@import '../../styles/config/colors.scss';

@mixin theme($theme: $black) {
    background: $theme;
    color: $white;
    padding: 15px;
    font-size: 16px;
    padding: 21px;
}
.tokenBalanceWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin: 1%;
      border-radius: 10px;
    .label {
        @include theme();
    }
    .amount {
        @include theme();
    }
}
  
