@import '../../styles/config/colors.scss';

@mixin theme($theme: $black, $color: $white) {
    background: $theme;
    color: $color;
    padding: 21px;
}
.tokenBalanceWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin: 1%;
    .innerContainerTokenBalanceWrapper{
        display: flex;
        flex-flow: row wrap;
        width: 350px;
    }
    .label {
        @include theme();
        font-family: $space-mono-bold;
        flex: 3;
        border-radius: 10px 0 0 10px;
    }
    .amount {
        @include theme($color: $green);
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 10px 10px 0;
        font-family: $graphik-bold;
    }
}
  
@include tablet {
    .tokenBalanceWrapper{
        .innerContainerTokenBalanceWrapper{
            width: 275px;
        }
    }   
    .selectedNetwork {
        display: flex;
        flex-flow: column;
        :nth-child(1) { order: 1;  }
        :nth-child(2) { order: 2; }
    }
}
@include mobile {
    .tokenBalanceWrapper{
    .innerContainerTokenBalanceWrapper{
        width: 275px;
            .label{
                padding: 14px;
            }
            .amount{
                padding: 14px;
            }
    }
    }
    .selectedNetwork{
        flex-flow: row;
        flex: 2;
        justify-content: center;
    }
}
@include mobile-semi {
   .innerContainerTokenBalanceWrapper{
        width: 275px;
            .label{
                padding: 12px 0px;
            }
            .amount{
                 padding: 12px 40px;
            }
   }
   .selectedNetwork{
    flex-flow: row;
    flex: 2;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
   }
}
