$primary-button-color:#89d8f0;
$button-color-hover: #578abb;
$border-selected-network-box: 2px solid #CCC;
$label-color: rgb(231, 231, 231);
$amount-color: rgb(170, 230, 253);
$connected-color:  #CCC;