$primary-button-color:#89d8f0;
$font-color-button: rgb(78, 81, 83);
$button-color-hover: #578abb;
$border-selected-network-box: 2px solid #CCC;
$label-color: rgb(231, 231, 231);
$amount-color: rgb(170, 230, 253);
$connected-color:  #CCC;
$disconnect-button: #ffbebe;
$moz-box-shadow-notification: inset 0 0 10px #767c63;
$webkit-box-shadow-notification: inset 0 0 10px #ffffff;
$background-notification:  rgb(75, 177, 129);

$white: #FCFCF7;
$black: #0F151F;
$green: #5A9467;
$light-green: #DCE8DB;
$dark-gray: #4E4E4E;
$light-gray: #B1C0C9;

