.button-wrapper{
    flex: 1;
    margin: 1% 25%;
}
.button{
    width: 250px;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(78, 81, 83);
    background-color: #89d8f0;
    border: none;
    border-radius: 8px;
}

.button:hover {background-color: #578abb}
